.radio-label {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #454545;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all .3s ease-out;
    margin-right: 10px;
    margin-bottom: 10px;
}

.radio-label input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}



.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    white-space: nowrap;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.annotations-label {
    border-bottom: 5px solid;
    opacity: 0.7;
}